/* Global formatting */
#wrapper {
	width : 90%;
	margin-left : auto;
	margin-right : auto;
	margin-top : 2%;
	margin-bottom : 2%;
}

/* Generic formatting for tables */
table {
	border : dashed 1px gray;
}
td {
	border : dashed 1px gray;
	padding : 10px;
}
.heading {
	background : lightblue;
}

/* Formating for development tab */
#mainBody    { border-color : blue; }
#mainMenu    { border-color : yellow; }
#mainDisplay { border-color : green; }
#debug       { border-color : red; }
.box {
	border-style : ridge;
	border-size : 1px;
	border-color : gray;
	margin : 5px;
	padding : 5px;
}
