	div {
		font-family: "Andale Mono", AndaleMono, monospace;
	}
	h3 {
		color : #B2B200;
	}
	form {
		background : #663D00;
		padding : 5px;
	}
/*
	table {
		color : white;
	}
	td {
		padding : 10px;
	}
*/
	.queryTable {
		border : ridge 5px yellow;
		padding : 5px;
		color : black;
	}
	.queryTable td {
		padding : 10px;
	}
/*
*/
	.tableHeading {
		background : darkgray;
		color : white;
	}
	.tableData {
		background : white;
	}
	#wrapper {
		width : 90%;
		margin-left : auto;
		margin-right : auto;
		margin-top : 2%;
		margin-bottom : 4%;
	}
/*
*	Style for Stout Heading
*/
	#stoutHeading {
		height : 100px;
	}
	#stoutHeading img {
		float : left;
		height : 100px;
	}
	#stoutHeading p {
		font-size : 1em;
		position : relative;
		left : 30px;
		top : 10px;
	}
	clock {
		float : right;
		text-align : right;
		font-size : 1.5em;
		color : green;
		position : relative;
	}
/*
*	END Style for Stout Heading
*/
