body
{
	background: lightgray;
}
#exchange
{
	background: black;
	border: 5px ridge gray;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 3px 3px 3px black;
	color: white;
}
#exchange div
{
	border: dotted white 1px;
	margin: 5px;
	padding: 5px;
}
