body { background: lightgray; }
/*
div { border: white dotted 1px; }
#cave > div { border: 1px dotted blue; }
*/
#cave
{
	border: 10px ridge gray;
	width: 1200px;
	margin-left:  auto;
	margin-right: auto;
	box-shadow: 3px 3px 3px black;
}
#cave > div:nth-child(1){ height:  40px; } 
#cave > div:nth-child(2){ height:  80px; } 
#cave > div:nth-child(3){ height: 430px; } 
#cave > div:nth-child(4){ height:  60px; } 
#cave > div:nth-child(5){ height:  80px; } 

#minions
{
	width: 800px;
	height: 50px;
	overflow: auto;
}
.minion
{
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	height: 25px;
}
.minion > div
{
	margin-top: 3px;
	float: left;
}
.minion > div:nth-child(1){ width:  40px; }
.minion > div:nth-child(2){ width:  50px; }
.minion > div:nth-child(3){ width:  70px; }
.minion > div:nth-child(4){ width:  70px; }
.minion > div:nth-child(5){ width: 250px; }
.minion > div:nth-child(6){ width:  70px; }

#debug
{
	width: 800px;
}

#james
{
	width: 800px;
}

#mother
{
	width: 400px;
	float: right;
}

#controls
{
	width: 500px;
	height: 50px;
}

#controls > button
{
	font-size: 104%;
	margin-top: 10px;
	margin-left: 10px;
}

#clock
{
	height: 30px;
	width:  175px;
	text-align: center;
	display: table;
	float: left;
}
#clock > div
{
	display: table-cell;
	vertical-align: middle;
} 
#status
{
	height: 25px;
	width: 500px;
	float: left;
	padding-top: 5px;
}

#book
{
	width: 800px;
	height: 400px;
	overflow: auto;
}
#book table td
{
	border: 1px solid black;
	text-align: right;
	padding: 15px;
}
#book > table .bid { color: green; }
#book > table .ask { color: red; }

#feed
{
	height: 400px;
	overflow: auto;
	width: 350px;
	float: right;
}
#feed > div
{
	height: 30px;
}
#feed .sell { color: green; }
#feed .buy  { color: red; }
#feed > div > div
{
	float: left
}
#feed > div > div:nth-child(1){ width: 50px; }
#feed > div > div:nth-child(2){ width: 80px; }
#feed > div > div:nth-child(3){ width: 100px; }

#data
{
	height: 30px;
	width:  350px;
	float: left;
}
#data > div
{
	height: 30px;
}
#data > div > div:nth-child(1)
{
	width: 80px;
	float: left;
}
#data > div > div:nth-child(2)
{
	width: 50px;
	float: left;
	text-align: right;
	padding-right: 15px;
}


