body { background: lightgray; }
/*
div { border: white dotted 1px; }
#cave > div { border: 1px dotted blue; }
*/
#cave
{
	border: 10px ridge gray;
	width: 1200px;
	margin-left:  auto;
	margin-right: auto;
	box-shadow: 3px 3px 3px black;
	padding-top: 5px;
}
#cave > div:nth-child(1){ height:  40px; } 

#minions
{
	width: 790px;
	height: 150px;
	overflow: auto;
	border: 5px ridge gray;
	margin-left: 10px;
	margin-bottom: 10px;
}
.minion
{
	border: 1px solid black;
	margin: 5px;
	padding: 5px;
	height: 25px;
}
.minion > div
{
	margin-top: 3px;
	float: left;
}
.minion > div:nth-child(1){ width:  40px; }
.minion > div:nth-child(2){ width:  50px; }
.minion > div:nth-child(3){ width:  60px; }
.minion > div:nth-child(4){ width:  60px; }
.minion > div:nth-child(5){ width: 325px; }
.minion > div:nth-child(6){ width:  90px; }

#debug
{
	width: 800px;
	margin-left: 10px;
	color: red;
	margin-bottom: 10px;
}


#mother
{
	border: 5px ridge gray;
	width: 350px;
	float: right;
	margin-right: 10px;
	height: 100px;
}
#mother > div
{
	margin-left: 10px;
	margin-top: 10px;
}

#controls
{
	width: 800px;
	height: 50px;
}

#controls > button
{
	font-size: 104%;
	margin-top: 10px;
	margin-left: 10px;
}

#clock
{
	height: 30px;
	width:  175px;
	text-align: center;
	display: table;
	float: left;
}
#clock > div
{
	display: table-cell;
	vertical-align: middle;
} 
#status
{
	height: 25px;
	width: 500px;
	float: left;
	padding-top: 5px;
}

#book
{
	border: 5px ridge gray;
	width: 780px;
	height: 400px;
	margin-left:  10px;
	padding-left: 10px;
	
	overflow: auto;
}
#book table td
{
	border: 1px solid black;
	text-align: right;
	padding: 15px;
}
#book > table .bid { color: green; }
#book > table .ask { color: red; }

#james
{
	margin-top: 10px;
	width: 350px;
	float: right;
}
#feed
{
	border: 5px ridge gray;
	margin-right:  10px;
	padding-left: 20px;
	padding-top: 10px;
	height: 390px;
	width: 335px;
	float: right;
}
#feed > div:nth-child(1)
{
	height: 30px;
}
#feed > div:nth-child(2)
{
	height: 350px;
	overflow: auto;
}
#feed > div:nth-child(2) > div
{
	height: 30px;
}
#feed > div:nth-child(2) > div > div
{
	float: left
}
#feed > div:nth-child(2) > div > div:nth-child(1){ width: 50px; }
#feed > div:nth-child(2) > div > div:nth-child(2){ width: 80px; }
#feed > div:nth-child(2) > div > div:nth-child(3){ width: 100px; }

#feed .sell { color: green; }
#feed .buy  { color: red; }

#data
{
	height: 30px;
	width:  350px;
	float: left;
	padding-top: 5px;
}
#data > div
{
	height: 30px;
}
#data > div > div:nth-child(1)
{
	width: 80px;
	float: left;
}
#data > div > div:nth-child(2)
{
	width: 50px;
	float: left;
	text-align: right;
	padding-right: 15px;
}


