/* Minion States */
.minion
{
	margin: 10px;
	padding: 5px;
}
.onBookBid
{
	border: 3px ridge blue;
	background: yellow;
}
#clock
{
	border: 5px ridge brown;
	background: lightgray;
	height: 40px;
	width:  175px;
	text-align: center;
	display: table;
}
#clock > div
{
	border: 1px dotted gray;
	display: table-cell;
	vertical-align: middle;
} 
#book
{
	border: 5px ridge blue;
	width: 800px;
	margin-left: 20px;
	margin-top: 10px;
	background: lightgray;
}
#book table td
{
	border: 1px solid black;
	text-align: right;
	padding: 15px;
}
#book > table .bid { color: green; }
#book > table .ask { color: red; }
#feed
{
	border: 5px ridge gray;
	background: lightgray;
	height: 400px;
	overflow: auto;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 350px;
	float: right;
}
#feed > div
{
	height: 30px;
}
#feed .sell { color: green; }
#feed .buy  { color: red; }
#feed > div > div
{
	float: left
}
#feed > div > div:nth-child(1){ width: 50px; }
#feed > div > div:nth-child(2){ width: 80px; }
#feed > div > div:nth-child(3){ width: 100px; }
#data
{
	border: 5px ridge yellow;
	background: lightgreen;
	height: 180px;
	overflow: auto;
	padding-left: 10px;
	padding-top: 10px;
	width: 150px;
	margin-left: 20px;
	margin-top: 10px;
}
#data > div
{
	height: 30px;
}
#data > div > div:nth-child(1)
{
	width: 80px;
	float: left;
}
#data > div > div:nth-child(2)
{
	width: 50px;
	float: left;
	text-align: right;
	padding-right: 15px;
}
#james
{
	border: 5px ridge gray;
	background: lightgray;
	height: 200px;
	overflow: auto;
	width: 600px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
}
#status
{
	border: 5px ridge gray;
	background: lightgray;
	height: 25px;
	overflow: auto;
	padding: 10px;
	width: 500px;
	margin-right: 20px;
	float: right;
}
#stopSock{ background: red; color: white; }
